@import '@lando/vuepress-theme-default-plus/styles/palette';

// Movile
$MQMapless: 700px;
$MQMobile: 900px;

:root {
  --c-brand: #dd3f8f;
  --content-width: 942px;
  --rightbar-width: 260px;
  --rightbar-margin: 40px;
  --total-width: 1242px;
  --homepage-width: 1242px;
}
