@import '@lando/vuepress-theme-default-plus/styles/palette';

// Movile
$MQMapless: 700px;
$MQMobile: 900px;

:root {
  --c-brand: #dd3f8f;
  --content-width: 942px;
  --rightbar-width: 260px;
  --rightbar-margin: 40px;
  --total-width: 1242px;
  --homepage-width: 1242px;
}

$electricPink: #DD3F8F;
$galaxyPurple: #794993;
$solarYellow: #EDE650;
$spaceBlack: #261D2D;
$landoGrey: #49424E;
$backgroundGrey: #EEEDEF;
$quotedText: #786F7E;
$background-dark: #261D2D;
$text-dark: #eeedef;
